:root{
  --pink: rgb(255, 187, 234);
  --black-pink: rgb(255, 108, 132);
  --white: white;
  --margin-left: 0% 0% 5px 5vw;
  --black-shadow: rgba(0, 0, 0, 0.562);
  --black-shadow-acive: rgba(0, 0, 0, 0.692);
  --chekerBoardblack: rgb(0, 0, 0);
  --chekerBoardWhite: rgb(255, 255, 255);
}
*{
  box-sizing: border-box;

  min-width: 1px;

}
body{
  font-family:Comic Sans MS, Comic Sans, cursive, sans-serif;
  font-weight: 100;
  font-style: italic;
  font-size: large;

  margin: 0;
  margin-top: 0;
  padding: 0;

  cursor: grab;


}

body:active{
  cursor: grabbing;
}

.play{
  font-family:Comic Sans MS, Comic Sans, cursive, sans-serif;
  position: fixed;
  z-index: 200;
  outline: 4px double var(--white);
  background-color: var(--pink);
  color: var(--white);
  border-radius: 8px;
  width: 50px;
  height: 50px;
  font-size: 11px;
  padding: 0%;
  margin: 10px;
  box-sizing: border-box;
  box-shadow: 0px 0px 5px inset, -4px 2px 8px 8px var(--black-shadow);
  right: 0;
  transition: all 0.08s ease-out;
  cursor: pointer;
}
.play:active{
  margin: 12px;
  box-shadow: 0px 0px 8px inset, -6px 4px 25px 10px var(--black-shadow-acive), 8px -8px 20px inset var(--black-shadow-acive);
}
.play2{
  background-color: var(--black-pink);
}

.vinheta{
  z-index: 5;

  position: fixed;
  box-shadow: 0px 0px 40px 20px inset;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(80, 0, 0, 0.288));
  background-size: 10px 4px;
  width: 100%;
  height: 100%;

  pointer-events: none;
} 

a{
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

.site-text{
  text-align: center;
  color: white;
  font-family: sans-serif;

  transform: translateY(20px) scale(0.60);

  padding: 0 0 0 0;

  position: relative;
  opacity: 0;

  transition: opacity 1s, margin-top 1s, transform 1s, padding 1s ease;
}


.titulo-background{
  background-color: rgb(23, 29, 36);
  overflow: hidden;
  height: auto;
}
.titulo{
   display: block;
   justify-self: center; 
   font-family: "Ｐゴシック";

  color: #FF0084;
  background-color: lightblue;
 
  border: 8px double #ffdc52;
  border-radius: 40%;

  box-shadow: 0px 0px 4px 3px #ffffff, 0px 0px 40px 20px #fffcab;

  margin-bottom: 0%;
  margin-top: 5%;

  padding: 25px;

  font-size: 17px;
  transform: rotate(0deg);
  
  -webkit-text-stroke-color: #efc0047d;
  -webkit-text-stroke-width: 1px;

transition: font-size 1s, padding 2s, color 2s, transform 3s, -webkit-text-stroke-width 3s, box-shadow 3s, margin-bottom 1s ease;
}
.titulo:hover{
  display: block;
   justify-self: center; 

  color: #ff61b3;
  background-color: lightblue;
 
  border: 8px double #efc004;
  border-radius: 40%;

  box-shadow: 0px 0px 10px 10px #ffffff, 0px 0px 40px 15px #fffcab;

  margin-bottom: 5%;
  margin-top: 5%;

  padding: 15px;

  font-size: 35px;

  -webkit-text-stroke-color: #efc004;
  -webkit-text-stroke-width: 2px;
}
.titulo:hover ~ .site-text{
  opacity: 1;

  transform: translateY(0) scale(1);

  padding: 0 5% 5% 5%;
}

.algo{
  color: #ffffff00;
}
hr{
  margin: 0%;
  border: 1px dashed white;
}


.corpo{
  background-image: url(https://i.ibb.co/tMtKVszz/images-min.jpg);
  background-repeat: round;
  background-size: calc(650px - 25vw);
  background-position: center;
  background-blend-mode: multiply;
  background-color: rgba(226, 108, 237, 0.789);
  image-rendering: pixelated;
  image-rendering: crisp-edges;

  padding-top: 15px;

  /* min-height: 100vh !IMPORTANT; */
  /* width: 100%; */
}
.fundo{
  image-rendering: pixelated;
  bottom: 0;
  position: fixed;

  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  z-index: 2;

  pointer-events: none;
}

.animacao-piscar:hover{
animation-name: pisca;
animation-duration: 0.2s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}
.pink-background { 
  position: relative;
  z-index: 2;
  background: linear-gradient(25deg, #68073a 1%, #FF0084 15%, #FFBAFF 100%);
  font-family: 'Courier New', Courier, monospace;
  transform: translate(-25%, 0%);

  top: 100%;
  margin-left: 20%;
  margin-bottom: 1%;

  padding: 10px;

  border: 3px outset rgba(77, 4, 77, 0.6);
  border-radius: calc(5px + 3px * 8);
  border-width: 5px;

  width: 250px;
  height: auto;

  color: #ff9dd8;
  text-align: center;

  outline: solid 3px rgb(255, 0, 174); 
}
.pink-background::after{
  content:"porque, porque tenho que sofrer  desse jeito?";
  position: absolute;
  color: rgba(0, 0, 0, 0.112);
  left: 0;
  top: 40px;
}


/* estes daqui são utilitários */
.text-maior{
  font-size: 2rem;
}
.sublinha{
  border-style: dotted none solid none;
  border-color: white;
  border-width: 1px;
  border-radius: 10px;
  
  color: #ff00b7;
  background-color: black;
  font-family: cursive;
}
/* termino de utilitários */


.imagem-1 {
  position: relative;
  margin: 5px 5px 0% 20px;
  width: 25vw;
  max-width: 250px;
  height: auto;
  float: right;

  border-style: double;
  border-width: 5px;
  border-color: white;
  border-radius: 15px 0px 15px 15px;

  box-shadow: -7px 0px 15px, 0px 0px 15px inset;

  transition: width 0.2s ease-out;
}
.imagem-1 img{
  display: block;
  width: 100%;
  height: auto;
  object-fit: fill;
}
.imagem-1 > .textoImg{
  position: absolute;

  left: 0px;
  bottom: 0px;
  padding: 0px 2vw;
  font-size: 15px;

  -webkit-text-stroke: 1px rgb(255, 135, 239);

  background: #ffd0f6;

  border-style: double none none none;
  border-width: 5px;
  border-color: white;

  width: 100%;
}

.imagem-2 {
  width: 170px;

  outline: 4px double white;
}

.container-duas-colunas{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
  line-break: anywhere;
}

.apresentation-pai{
  position: static;
  top: auto;
  margin: var(--margin-left);

  
  overflow: auto;
  padding: 0px;
  width: 50vw;
  height: auto;
  color: #68073a;
  
  background-color: #ffd0f6;

  border-radius: 10px;
  border-style: double ridge ridge double;
  border-color: white;
  border-width: 8px;
  
  box-shadow: -15px 20px 30px 10px black;

  transition: width 0.4s ease-in-out;
}

/*aparência de links*/
a.externo:link{
  color: rgb(255, 0, 128);
  font-weight: bold;
  box-shadow: 0 0 5px rgba(0, 0, 255, 0) inset;
  padding: 1px;
  border-radius: 10px;

  transition: box-shadow 1s, color 1s, padding 1s ease;
}
a.externo:hover{
  color: blue;
  padding: 3px;
  box-shadow: 0px 0px 5px rgb(0, 0, 255) inset;
  border-radius: 10px;

  transition: box-shadow 1s, color 1s, padding 1s ease;
}
/*/////////////*/

.texto-esquerda-filho{
  text-align: left;
}

.foto-de-perfil{
  width: 200px;
  height: 300px;
  font-size: small;
  padding: 0% 1% 5px 0%;
  text-align: left;
  
  color: #68073a;
    background: rgb(104, 8, 116);
    border-radius: 10px;
    border-style: double ridge ridge double;
    border-color: white;
    border-width: 8px;
  
  overflow-y: scroll;
  overflow-x: hidden;

  box-shadow: 5px 5px 30px 10px black, -20px 0px 15px 1px inset black;
}
.foto-de-perfil-filha{
color: white;
} 

.caixa-debaixo{
 
  position: static;
  margin: var(--margin-left);
  margin-bottom: 4vh;

  width: 50vw;
  height: auto;
  color: #68073a;
  background: pink;
  border-radius: 10px;
  border-style: double ridge ridge double;
  border-color: white;
  border-width: 8px;

  box-shadow: 0px 10px 30px 5px black;

  transition: width 0.2s ease-in;
}

.secret{
  position: relative;
  color: rgba(0, 0, 0, 0);
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(255, 0, 0, 0));
  background-size: 20px 3px;
  border-radius: 40%;
  display: block;
  text-align: center;

  transform: rotate(25deg);

  font-size: 10px;

  user-select: none;
}

/* .chekBoard{
  z-index: 2;
  position: fixed;
  
  width: 100%;
  bottom: -10px;
  height: 300px;

  background-color: var(--white); 
  background-image:

  linear-gradient(45deg, var(--chekerBoardblack) 25%, transparent 25%, transparent 75%, var(--chekerBoardblack) 75%, var(--chekerBoardblack)),

  linear-gradient(45deg, var(--chekerBoardblack) 25%, var(--chekerBoardWhite) 25%, var(--chekerBoardWhite) 75%, var(--chekerBoardblack) 75%, var(--chekerBoardblack))
  ;

  background-size: 40px 40px;
  background-position: 0px 0px, 60px 60px;

  transform:;

  background-repeat: repeat;
  text-align: center;
} */

footer{
  outline: 10px double rgb(255, 255, 255);
  padding: 30px;
  justify-items: center;
  background: rgb(207, 255, 250);
  box-shadow: 0px 0px 25px 4px inset;
}
footer > p{
  width: fit-content;
  text-decoration: underline double;
  text-shadow: 5px 3px 4px rgba(0, 0, 0, 0.534);
  color: blue;
}


@keyframes pisca{
0%{color: #ff0084;}
100%{color: #ffe1f2;}
}



@media (max-width: 600px){
  .apresentation-pai{
    height: fit-content;
    width: 80%;
    margin: 5px 40px;
  }
  .pink-background{
    margin: 5px 110px;
  }
  .caixa-debaixo{
    word-break: break-all;
    margin: 0px 40px 20px;
    width: fit-content;
    padding: 0%;
  }
  .foto-de-perfil{
    display: none;
  }
  .imagem-1{
    font-size: 70px;
    width: 50%;

    margin: 0%;
  }
  .secret{
    margin: 10%;
    color: rgb(255, 0, 0);
    user-select: text;
    position: fixed;
  }
}