*{
  box-sizing: border-box;

  min-width: 1px;

}
body{
  font-family:Comic Sans MS, Comic Sans, cursive, sans-serif;
  font-weight: 100;
  font-style: italic;
  font-size: large;

  margin: 0;
  margin-top: 0;
  padding: 0;

  cursor: grab;
}
body:active{
  cursor: grabbing;
}

.ALLWrapper{
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  image-rendering: optimizeSpeed;

  z-index: 300;

  filter: brightness(110%);
  filter: contrast(120%);

  pointer-events: none;
}

.vinheta{
  z-index: 0;

  position: fixed;
  background-image: linear-gradient(0deg, #00000040, #50000038);
  background-size: 10px 4px;
  width: 100%;
  height: 100%;

  pointer-events: none;
}

a{
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}


.site-text{
text-align: center;
color: white;
font-family: sans-serif;

transform: translateY(20px) scale(0.60);

padding: 0 0 0 0;

position: relative;
opacity: 0;

transition: opacity 1s, margin-top 1s, transform 1s, padding 1s ease;
}


.titulo-background{
  background-color: rgb(23, 29, 36);
  overflow: hidden;
  height: auto;
}
.titulo{
   display: block;
   justify-self: center; 
   font-family: "Ｐゴシック";

  color: #FF0084;
  background-color: lightblue;
 
  border: 8px double #ffdc52;
  border-radius: 40%;

  box-shadow: 0px 0px 4px 3px #ffffff, 0px 0px 40px 20px #fffcab;

  margin-bottom: 0%;
  margin-top: 5%;

  padding: 25px;

  font-size: 17px;
  transform: rotate(0deg);
  
  -webkit-text-stroke-color: #efc0047d;
  -webkit-text-stroke-width: 1px;

transition: font-size 1s, padding 2s, color 2s, transform 3s, -webkit-text-stroke-width 3s, box-shadow 3s, margin-bottom 1s ease;
}
.titulo:hover{
  display: block;
   justify-self: center; 

  color: #ff61b3;
  background-color: lightblue;
 
  border: 8px double #efc004;
  border-radius: 40%;

  box-shadow: 0px 0px 10px 10px #ffffff, 0px 0px 40px 15px #fffcab;

  margin-bottom: 5%;
  margin-top: 5%;

  padding: 15px;

  font-size: 35px;

  -webkit-text-stroke-color: #efc004;
  -webkit-text-stroke-width: 2px;
}
.titulo:hover ~ .site-text{
  opacity: 1;

  transform: translateY(0) scale(1);

  padding: 0 5% 5% 5%;
}
.linha{
  color: #00000000;
  user-select: text;

  margin-bottom: 0;
  margin-top: 2%;

  width: 100%;
  height: 10px;

  text-align: center;
  
  padding: 0%;
  border-width: 0px;

  border-bottom: 5px double white;
  border-top: 5px double white;
  border-radius: 20px;
}


.corpo{
  background-image: url(https://i.ibb.co/tMtKVszz/images-min.jpg);
  background-repeat: round;
  background-size: calc(650px - 25vw);
  background-position: center;
  background-blend-mode: multiply;
  background-color: rgba(226, 108, 237, 0.789);
  image-rendering: pixelated;
  image-rendering: crisp-edges;

  padding-top: 15px;

  /* min-height: 100vh !IMPORTANT; */
  /* width: 100%; */
}


.animacao-piscar:hover{
  animation-name: pisca;
animation-duration: 0.2s;
animation-iteration-count: infinite;
animation-timing-function: linear;

}
.pink-background { 
  z-index: 2;
  background: linear-gradient(25deg, #68073a 1%, #FF0084 15%, #FFBAFF 100%);
  font-family: 'Courier New', Courier, monospace;
  transform: translate(-25%, 0%);

  top: 100%;
  margin-left: 20%;
  margin-bottom: 1%;

  padding: 10px;

  border: 3px outset rgba(77, 4, 77, 0.6);
  border-radius: calc(5px + 3px * 8);
  border-width: 5px;

  width: 250px;
  height: auto;

  color: #ff9dd8;
  text-align: center;

  outline: solid 3px rgb(255, 0, 174); 
}


/* estes daqui são utilitários */
.text-maior{
  font-size: 2rem;
}
.sublinha{
  border-style: dotted none solid none;
  border-color: white;
  border-width: 1px;
  border-radius: 10px;
  
  color: #ff00b7;
  background-color: black;
  font-family: cursive;
}
/* termino de utilitários */


.imagem-1 {
  position: relative;
  margin: 5px 5px 0% 20px;
  width: 25vw;
  max-width: 250px;
  height: auto;
  float: right;

  border-style: double;
  border-width: 5px;
  border-color: white;
  border-radius: 15px 0px 15px 15px;

  box-shadow: -7px 0px 15px, 0px 0px 15px inset;
}
.imagem-1 img{
  display: block;
  width: 100%;
  height: auto;
  object-fit: fill;
}
.imagem-1 > .textoImg{
  position: absolute;

  left: 0px;
  bottom: 0px;
  padding: 0px 2vw;
  font-size: 20px;

  -webkit-text-stroke: 1px rgb(255, 135, 239);

  background: #ffd0f6;

  border-style: double none none none;
  border-width: 5px;
  border-color: white;

  width: 100%;
}

.imagem-2 {

  margin: 1% 1% 0% 0%;
  width: 190px;
  height: 200px;

  
  border-style: none none double none;
  border-width: 5px;
  border-color: white;


}




.container-duas-colunas{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
}
.apresentation-pai{
  position: static;
  top: auto;
  margin: auto 0% 0% 5vw;

  
  overflow: auto;
  padding: 0px;
  width: 50vw;
  height: 40vh;
  color: #68073a;
  
  background-color: #ffd0f6;

  border-radius: 10px;
  border-style: double ridge ridge double;
  border-color: white;
  border-width: 8px;
  
  box-shadow: -15px 20px 30px 10px black;

  transition: width 0.1s ease-out;
}

/*aparência de links*/
a.externo:link{
  color: rgb(255, 0, 128);
  font-weight: bold;
  box-shadow: 0 0 5px rgba(0, 0, 255, 0) inset;
  padding: 1px;
  border-radius: 10px;

  transition: box-shadow 1s, color 1s, padding 1s ease;
}
a.externo:hover{
  color: blue;
  padding: 3px;
  box-shadow: 0px 0px 5px rgb(0, 0, 255) inset;
  border-radius: 10px;

  transition: box-shadow 1s, color 1s, padding 1s ease;
}
/*/////////////*/

.texto-esquerda-filho{
  text-align: left;
}


.foto-de-perfil{
  width: 200px;
  height: 300px;
  font-size: small;
  padding-left: 0%;
  text-align: left;
  
  color: #68073a;
    background: rgb(104, 8, 116);
    border-radius: 10px;
    border-style: double ridge ridge double;
    border-color: white;
    border-width: 8px;
  
  overflow-y: scroll;
  overflow-x: hidden;

  box-shadow: 5px 5px 30px 10px black;
}
.foto-de-perfil-filha{
color: white;
} 


.caixa-debaixo{
 
  position: static;
  margin: auto 0% 50px 5vw;

  width: 50vw;
  height: auto;
  color: #68073a;
  background: pink;
  border-radius: 10px;
  border-style: double ridge ridge double;
  border-color: white;
  border-width: 8px;

  box-shadow: 0px 10px 30px 5px black;

  transition: width 0.3s ease;
}

.secret{
  color: green;
  background: yellow;
  display: block;
  text-align: center;
}

footer{
  outline: 10px double rgb(255, 255, 255);
  padding: 30px;
  justify-items: center;
  background: rgb(207, 255, 250);
  box-shadow: 0px 0px 25px 4px inset;
}
footer > p{
  width: fit-content;
  text-decoration: underline double;
  text-shadow: 5px 3px 4px rgba(0, 0, 0, 0.534);
  color: blue;
}

@keyframes pisca{
0%{color: #ff0084;}
100%{color: #ffe1f2;}
}



@media (max-width: 600px){
  .apresentation-pai{
    height: fit-content;
  }
  .imagem-1{
    font-size: 30px;
  }
}